.blocker {
    height: 350px;
    background-color: #1a1a1a;
}

.intro {
    padding-top: 100px;
    color: white;
    font-weight: normal;
}

.info .icon {
  color: #999999;
}

.info .icon>i {
  font-size: 3.85rem;
}

.info-horizontal .icon {
  float: left;
  margin-top: 24px;
  margin-right: 10px;
}

.info-horizontal .icon>i {
  font-size: 2.25rem;
}

.icon.icon-primary {
  color: #9c27b0;
}

.icon.icon-info {
  color: #00bcd4;
}

.icon.icon-success {
  color: #4caf50;
}

.icon.icon-warning {
  color: #ff9800;
}

.icon.icon-danger {
  color: #f44336;
}

.icon.icon-rose {
  color: #e91e63;
}

.features {
  text-align: center !important; 
}

img {
  height: 200px;
}

/* BLINKING CURSOR */

.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  /* END BLINKING CURSOR */
